@page "/products"
@using WarehouseManager.Services
@using WarehouseManager.Models
@inject ProductService ProductsService

<h3>Προϊόντα</h3>

<div>
    <h4>Προσθήκη Προϊόντος</h4>
    <input @bind="newProduct.SKU" placeholder="Κωδικός"/>
    <input @bind="newProduct.Name" placeholder="Όνομα"/>
    <input @bind="newProduct.Category" placeholder="Κατηγορία"/>
    <input type="number" @bind="newProduct.Price" placeholder="Τιμή"/>
    <input type="number" @bind="newProduct.Stock" placeholder="Stock"/>
    <input type="number" @bind="newProduct.MinStock" placeholder="Ελάχιστο Stock"/>
    <button @onclick="AddProduct">Προσθήκη</button>
</div>

@if (products == null)
{
    <p>Φόρτωση...</p>
}

else if (!products.Any())
{
    <p>Δεν υπάρχουν προϊόντα.</p>
}

else
{
    <table>
        <thead>
        <tr>
            <th>
                Κωδικός
            </th>
            <th>
                Όνομα
            </th>
            <th>
                Κατηγορία
            </th>
            <th>
                Τιμή
            </th>
            <th>
                Stock
            </th>
            <th>
                Ενέργειες
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var product in products)
        {
            <tr>
                <td>
                    @product.SKU
                </td>
                <td>
                    @product.Name
                </td>
                <td>
                    @product.Category
                </td>
                <td>
                    @product.Price €
                </td>
                <td>
                    @product.Stock
                </td>
                <td>
                    <button @onclick="() => DeleteProduct(product.Id)">Διαγραφή</button>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
@code {
    private List<Product>? products;

    private Product newProduct = new Product();

    private async Task AddProduct()
    {
        await ProductsService.AddAsync(newProduct);
        newProduct = new Product();
        products = await ProductsService.GetAllAsync();
    }

    protected override async Task OnInitializedAsync()
    {
        products = await ProductsService.GetAllAsync();
        
    }

    private async Task DeleteProduct(int id)
    {
        await ProductsService.DeleteAsync(id);
        products = await ProductsService.GetAllAsync();
    }

}